<template>
  <require from="../resources/elements/map-medium"></require>
  <require from="../resources/elements/poi-coordinates"></require>
  <require from="../resources/elements/poi-description"></require>

  <div class="uk-text-center" uk-grid>
    <div class="uk-width-expand@m">
      <map-medium title.one-way="title"></map-medium>
      <poi-coordinates title.one-way="title"></poi-coordinates>
    </div>
    <div class="uk-width-1-3@m">
      <poi-description title.one-way="title"></poi-description>
    </div>
  </div>
</template>
